.git
.gitignore
.env
.env.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/database.sqlite
database/database.sqlite
.devcontainer
tests
README.md
README.old.md
